:root {
  --purple10: #e9deff;
  --purple35: rgba(162, 45, 247, 0.5);
  --purple40: #8338ec;
  --purple50: #ad9aca;
  --purple60: #aa9bc2;
  --purple70: #624d7c;

  --dark04: rgba(23, 0, 52, 0.4);
  --dark10: #56514d;
  --dark20: #1e0044;
  --dark30: #0b001a;

  --white10: #ffffff;

  --gradient-purple-1: linear-gradient(45deg, #8338ec, #b923ff);
  --gradient-purple-2: linear-gradient(45deg, #8338ec, #9c2ef5);
  --gradient-purple-3: linear-gradient(45deg, #9c2ef5, #b923ff);
}

@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-Italic-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

.font-base {
  font-family: Montserrat;
  font-weight: 400;
}

.font-p-m-r {
  font-size: 14px;
  font-weight: 400;
}

.font-p-m-l {
  font-size: 14px;
  font-weight: 300;
}

.font-p-m-m {
  font-size: 14px;
  font-weight: 500;
}

.font-p-2xl-l {
  font-size: 24px;
  font-weight: 300;
}

.font-p-3xl-l {
  font-size: 32px;
  font-weight: 300;
}

.font-p-4xl-m {
  font-size: 50px;
  font-weight: 500;
}

.font-p-5xl-m {
  font-size: 100px;
  font-weight: 500;
}

.font-s-xl-ri {
  font-family: Georgia;
  font-style: italic;
  font-size: 22px;
  font-weight: 400;
}

.font-s-5xl-bi {
  font-family: Georgia;
  font-style: italic;
  font-size: 100px;
  font-weight: 500;
}

body {
  background-color: var(--dark30);
  margin: 1.3rem;
}

a {
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section {
  border-radius: 40px;
  padding: 2rem;
}

.home {
  background-color: var(--dark20);
  display: flex;
  gap: 5rem;
  flex-direction: column;
  padding-top: 1rem;
  color: var(--purple10);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.brand {
  display: flex;
  flex-direction: column;
}

.brand a {
  color: var(--purple10);
}

.brand img {
  margin-top: -3px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.navbar a {
  color: var(--purple10);
}

.button {
  display: inline-block;
  background: var(--gradient-purple-1);
  border-radius: 50px;
  padding: 1px;
  box-shadow: 0 0px 12px var(--purple35);
  align-self: flex-start;
}

.button-content {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0.8rem;
  border-radius: 50px;
}

.nav-button {
  background: var(--dark20);
}

.titles {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  letter-spacing: -4px;
}

.highlight {
  background: var(--gradient-purple-1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 1rem;
}

.newline {
  display: block;
}

.shortline {
  line-height: 80%;
}

.subtitle {
  letter-spacing: -1px;
}

.status {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.status-img {
  color: var(--purple50);
}

/* ========== About Section =========== */

#about {
  padding: 0;
}

.about {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  color: var(--white10);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 20px;
  padding: 2rem;
}

.design {
  background: var(--gradient-purple-2);
  width: 50%;
}

.development {
  background: var(--gradient-purple-3);
  width: 50%;
}

#about .card-title {
  margin-bottom: 6rem;
}

.card-description {
  line-height: 160%;
}

.card-tags {
  display: flex;
  gap: 0.5rem;
}

.card-tag {
  border: 1px solid;
  border-radius: 50px;
  padding: 0.4rem 0.6rem;
}

/* ========== Project Section =========== */

.project {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.project-odd {
  position: relative;
  background-color: var(--purple10);
  background-image: url("./assets/wavy-circle-m-purple60.svg"),
    url("./assets/wavy-circle-l-purple60.svg");
  /* background-blend-mode: overlay; */
  /* background-position-x: 5%, 10%; */
  background-position: 65% -60%, -50% -130%;
  background-repeat: no-repeat no-repeat;
  /* background-size: contain; */
  color: var(--dark30);
  /* overflow: hidden; */
}

.project-even {
  position: relative;
  background-color: var(--dark20);
  background-image: url("./assets/wavy-circle-m-purple70.svg"),
    url("./assets/wavy-circle-l-purple70.svg");
  /* background-blend-mode: overlay; */
  /* background-position-x: 5%, 10%; */
  background-position: 65% 160%, -50% 230%;
  background-repeat: no-repeat no-repeat;
  /* background-size: contain; */
  color: var(--purple10);
  /* overflow: hidden; */
}

.project-odd a {
  color: var(--dark30);
}

.project-even a {
  color: var(--purple10);
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-item {
  flex: 1 1 0;
  width: 0;
}

.project-about {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.project-description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-description-text {
  line-height: 160%;
  width: 75%;
}

.project-odd-button {
  background: var(--purple10);
}

.project-even-button {
  background: var(--dark20);
}

.project-img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
